   <header id="header">
   <div class="container">
            <div class="pull-left" style="margin-top: 7px">
                    <a href="/home"><img class="logo" src="/images/logo.svg"></a>
                    <div class="search form-group has-feedback">
                    <form action="/recherche" method="get">
                      <input type="text" class="form-control" placeholder="chercher sur immortality" name="q" autocomplete="off"/>
                      <i class="icon-search x form-control-feedback"></i>
                      <input type="submit" style="position: absolute; left: -9999px"/>
                      </form>
                    </div>
                    </div>
        <nav role="navigation" id="nav-main" class="nav-prop okayNav">
        <ul>
            <li><a href="/home" data-toggle="tooltip" data-placement="bottom" title="Accueil"><i class=" icon-home x active"></i></a></li>
            <li><a href="/informations" data-toggle="tooltip" data-placement="bottom" title="Profil"><i class=" icon-profil x"></i></a></li>
            <li><a href="/charts" data-toggle="tooltip" data-placement="bottom" title="Courbes"><i class=" icon-chart x"></i></a></li>
            <li><a href="/events" data-toggle="tooltip" data-placement="bottom" title="Evénements"><i class=" icon-event x"></i></a></li>
            <%if(informations.nbNotifs!=0 && typeof notif_badge == 'undefined'){%>
            <li><a href="/notifications" data-toggle="tooltip" data-placement="bottom" title="Notifications"><i class=" icon-notifs x"></i><span class="notif"><%=informations.nbNotifs%></span></a></li>
            <%}else{%>
            <li><a href="/notifications" data-toggle="tooltip" data-placement="bottom" title="Notifications"><i class=" icon-notifs x"></i></a></li>
            <%}%>
            <li><a href="/logout" data-toggle="tooltip" data-placement="bottom" title="Se déconnecter"><i class=" icon-logout x"></i></a></li>
        </ul>
    </nav>
        </div>
    </header>