<!--
<nav class="chat">
    <h2 class="chat__users"></h2>
    <ul id="users">
    </ul>
</nav>

<div  class="chat_box" >
  <h6 class="chat_box_name"></h6>
  <div class="chat_box_ul" style="overflow-y:scroll;height:240px" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
  <ul id="messages" ></ul>
  </div >
  <form action="" id="form_submit">
    <input id="m" autocomplete="off" /><input type="submit" style="position: absolute; left: -9999px"/>
  </form>
</div>
-->