<div class=" col-md-offset-1 col-md-3 ">
  <div class="informations" style="padding-bottom:15px" data-offset-top="0" >
    <div class="edit-content">
      <%if(friends_data.avatar=="no_avatar"){%>
      <img src="/images/default.svg" class="edit-img">
      <%  }else{%>
      <img src="http://localhost:85/api.immortality.life/application/uploads/avatars/<%=friends_data.id_user%>/<%=friends_data.avatar%>" class="edit-img">
      <%  }%>
    </div>
    <div>
      <span class="img-title"><%=friends_data.first_name%> <%=friends_data.last_name%></span>

    </div>

  </div>
</div>