<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Se connecter - Immortality</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/basic-styles.css" media="screen">
    <link href="/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  </head>
  <body class="index">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="index_title">Immortality</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div style="text-align:center">
            <form action="/auth" method="post" style="text-align:center;display: inline-table;" id="f">
              <span id="error" class="hidden">Faux!</span>
              <span style="height: 20px;display: inline-block;"></span>
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
              <input type="password" name="password" class="form-control hidden" placeholder="password" id="password" required>
              <button  type="submit" class="index_button text-uppercase btn btn-default" id="continuer">continuer</button>
              <button  type="submit" class="index_button text-uppercase btn btn-default hidden" id="connexion">connexion</button>
              <img id="loading" style="display:none" src="../images/rolling.svg" width="20px">
            </form>
          </div>
          <div class="download_box center-block ">
            <a href="https://play.google.com/store/apps/details?id=com.satoripop.immortality&hl=en" class="download btn btn-default" type="button"><i class="index_i android fa fa-android fa-2x"></i><span>Télecharger<br>pour Android</span>
          </a>
          <a class="download btn btn-default disabled" type="button"><span>Télecharger<br>pour iOS</span><i class="index_i ios fa fa-apple fa-2x"></i></a>
        </div>

        <div class="social">
          <a href="/facebook" type="button" class="btn btn-fb"><i class="fa fa-facebook"></i><span>Se connecter avec facebook</span></a>
        </div>
      </div>
      <!--
      <div class="col-md-4">
        <div class="separation">
          <div class="line"></div>
          <div class="cercle">ou</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social">
          <a href="/facebook" type="button" class="btn btn-fb"><i class="fa fa-facebook"></i><span>Se connecter avec facebook</span></a>
        </div>
      </div> -->
    </div>
  </div>
</body>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.validate.js"></script>
  <%- include ../public/js/main.js %>
  <!-- <%- include ../public/js/index.js %> -->

</html>
